.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1735px;
    @media(max-width: 1440px) {
        max-width: 1200.97px;
    }
    @media(max-width: 1200px) {
        max-width: 991.97px;
    }
    @media(max-width: 992px) {
        max-width: 768.97px;
    }
}

.title {
    font-size: 50px;
    color: $white;
    text-align: center;
    padding: 50px 0;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__item {
        &:not(last-child) {
            margin-right: 23px;
        }
        a {
            color: $gray;
            font-size: 17px;
            font-weight: 500;
            text-decoration: none;
            font-family: "Roboto";
            @media (max-width: 1200px) {
                font-size: 14px;
            }
        }
    }
}

.addr {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    border-radius: 10px;
    height: 75px;
    margin-top: 20px;
    max-width: 699px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.4);
    &__label {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.2);
        margin-left: 30px;
        margin-top: 5px;
    }
    &__text {
        font-size: 25px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
        @media(max-width: 992px) {
            font-size: 15px;
        }
    }
}


.header {
    background-image: url(../img/header/bg.jpg);
    background-repeat: no-repeat;
    &__row {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-icon {
            width: 50px;
            height: 50px;
            background-color: $red;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__logo-text {
        margin-left: 20px;
        font-size: 25px;
        font-family: 'Nunito';
        font-weight: 800;
        color: $white;
        line-height: 1.5;
        span {
            color: $red;
        }
    }
    &__btn {
        font-family: Roboto;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
        color: $gray;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 40px;
        background-color: $purple;
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__main {
        margin-top: 100px;
        padding-bottom: 124px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header__body header__img"
            "header__btns header__img"
            "header__addr header__img";

        @media(max-width: 768px) {
        margin-top: 10px;

        grid-template-columns: 1fr;

            grid-template-areas: 
                "header__body" 
                "header__img"
                "header__btns"
                "header__addr"
        }
    }
    &__body {
        grid-area: header__body;
    }
    &__title {
        font-size: 80px;
        font-weight: 700;
        line-height: 90px/80px * 100%;
        color: $white;
        @media (max-width:992px) {
            font-size: 50px;
        }
        span {
            color: $red;
        }
        margin-top: 20px;
    }
    &__subtitle {
        font-size: 25px;
        font-weight: 400;
        color: $font-gray;
        margin-top: 20px;
        @media (max-width:992px) {
            font-size: 15px;
        }
    }
    &__text {
        font-size: 32px;
        color: $font-gray;

        margin-top: 40px;
        @media (max-width:992px) {
            font-size: 22px;
        }
    }

    &__img {
        margin-top: 10px;
        grid-area: header__img;
        text-align: center;
        @media(max-width:1200px) {
            margin-top: 100px;
        }

        img {
            max-width: 100%;
            height: auto;
            @media(max-width:768px) {
                max-width: 60%;
            }
        }
    }

    &__btns {
        grid-area: header__btns;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__addr {
        grid-area: header__addr;
    }

    .body__btn {
        font-size: 25px;
        font-weight: 700;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 46px;
        margin-left: 20px;
        margin-right: 20px;
        @media (max-width:992px) {
            font-size: 15px;
        }
        
    }
    .body__btn--1 {
        flex: 0 1 42%;
        height: 80px;
        background-color: $red;
        @media (max-width:992px) {
            height: 60px;
        }
        @media(max-width:768px) {
            flex: 1 1 100%;
        }
    }
    .body__btn--2 {
        flex: 0 1 54%;
        height: 80px;
        background: rgba(255, 255, 255, 0.05);

        @media (max-width:992px) {
            height: 60px;
        }
        @media(max-width:768px) {
            flex: 1 1 100%;
        }
    }


}

.brown-line {
    display: flex;
    align-items: center;
    height: 38px;
    background: rgba(90, 64, 57, 1);
    &__text {
        font-style: italic;
        font-weight: 100;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        white-space: nowrap;
        color: rgba(255, 245, 0, 0.6);
    }
}

.yes {
    margin-top: 50px;
    &__top-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 377px;
        margin-top: 50px;
        opacity: 0.1;
        @media (max-width: 1440px) {
            margin: 0 277px;
        }
        @media (max-width: 1200px) {
            margin: 0 177px;
        }
        @media (max-width: 992px) {
            margin: 0 50px;
        }
        @media (max-width: 768px) {
            margin: 0 10px;
        }
        img {
            height: 50px;
            margin: 0 1px;
            @media(max-width: 480px) {
                height: 30px;
            }
        }

    }


    &__content {

    }

    &__image {
        position: relative;
        max-width: 1000px;
        width: 100%;
        height: 1000px;
        margin-top: -150px;
        margin-left: auto;
        margin-right: auto;
        @media(max-width: 1200px) {
            height: 900px;
        }
        @media(max-width: 992px) {
            height: 700px;
        }
        @media(max-width: 480px) {
            height: 400px;
            margin-top: 129px;
        }
        * {
            position: absolute;
        }
    }

    &__circle-blue {
        top: 23%;
        left: 80%;
        width: 10%;

    }
    &__circle-orange {
        top: 80%;
        left: 70%;
        width: 10%;
    }
    &__circle-red {
        top: 42%;
        left: 4%;
        width: 10%;
        @media(max-width: 480px) {
            top: 23%;
        }
    }
    &__earth {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 37%;
    }
    &__shiba {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 23%;
    }
    &__steam {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
    }
    &__text {
        font-family: Roboto;
        font-size: 35px;
        font-weight: 700;
        color: $white;
        text-align: center;
        width: 552px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top:30%;
        @media(max-width: 480px) {
            margin-top: -155px;
            font-size: 25px;
            width: 329px;

        }
    }
}

.how {
    &__title {
        font-size: 50px;
        font-weight: 700;
        color: $white;

        display: flex;
        justify-content: center;
    }
    &__row {
        margin-top: 50px;
        margin-left: 55px;
        margin-right: 55px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
        }

    }
    &__col {
        flex: 0 1 494px;
        padding: 0 34px;
        @media (max-width: 1200px) {
            padding: 0 5px;
        }

        @media (max-width: 992px) {
            margin: 10px;
        }
        
    }
    &__item {
        background-color: #384D70;
        border-radius: 20px;
        padding: 0 40px;
    }
    &__icon {
        margin: 30px 0;
    }
    &__item-title {
        font-size: 35px;
        font-weight: 100;
        font-style: italic;
        color: $white;
        margin-bottom: 11px;
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        opacity: 0.3;
        margin-bottom: 35px;
    }
    &__text {
        font-size: 25px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 40px;

    }

}

.play {
    padding-top: 120px;
    padding-bottom: 175px;
    &__title {
        font-size: 50px;
        color: $white;
        text-align: center;
    }
    &__subtitle {
        font-size: 25px;
        color: #FFFFFF;
        opacity: 0.5;
        text-align: center;
        margin-top: 10px;    
        margin-bottom: 50px;    
    }
    &__row {
        display: flex;
        justify-content: space-between;
        background-color: #071022;
        border-radius: 30px;
        @media(max-width: 768px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__col {

    }
    &__col--1 {
        flex: 0 0 700px;
        padding: 20px 20px 20px 50px;
        img {
            max-width: 100%;
            border-radius: 30px;
        }
        @media(max-width: 1400px) {
            flex: 0 0 400px;
        }
        @media(max-width: 992px) {
            flex: 0 0 300px;
        }
        @media(max-width: 768px) {
            flex: 0 0 90%;
            padding: 20px 0;
        }
    }
    &__col--2 {
        flex: 0 1 auto;
        padding: 20px 50px 20px 20px;
    }
    &__body-title {
        font-size: 30px;
        color: $white;
        @media(max-width: 768px) {
            font-size: 24px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.6);
        @media(max-width: 768px) {
            font-size: 19px;
            margin-top: 10px;
        }
    }

    &__row-foot {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        @media(max-width:768px) {
            flex-wrap: wrap;

        }
    }
    &__col-foot {
        @media(max-width:768px) {
            flex: 0 1 100%;            
        }
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        @media(max-width:576px) {
            flex-wrap: wrap;
            justify-content: center;     
            text-align: center;    
        }
    }
    &__img-foot {
        margin: 36px 30px;
        flex: 0 0 200px;
        @media(max-width:1200px) {
            flex: 0 0 100px;
            
        }
        @media(max-width:576px) {
            margin: 10px;

            
        }

        img {
            width: 100%;
            height: auto;
        }
    }
    &__col-foot--1 {
        background-color: #FF9429;
        margin-right: 20px;
        @media(max-width:768px) {
            margin: 15px 15px;
        }
    }
    &__col-foot--2 {
        background-color: #067CCB;
        margin-left: 20px;
        @media(max-width:768px) {
            margin: 15px 15px;
        }
    }
    &__body-foot {
        margin-top: 37px;
        margin-bottom: 20px;
        @media(max-width:576px) {
            margin-top: 0px;
        }
    }
    &__body-foot-title {
        font-size: 30px;
        color: $white;
        margin-bottom: 20px;
        @media(max-width:1200px) {
            font-size: 20px;
        }
    }
    &__text-foot {
        font-size: 28px;
        color: $white;
        @media(max-width:1200px) {
            font-size: 18px;
        }
        @media(max-width:576px) {
            font-size: 18px;
            margin: 0 20px;
        }
    }
}

.why {
    background-color: #30298C;
    position: relative;
    @media(max-width:1200px) {
        display: none;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 644px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        flex: 0 1 600px;
        margin-top: 78px;
        margin-bottom: 177px;
    }
    &__body-title {
        margin-top: 100px;
        font-size: 50px;
        color: $white;
    }
    &__body-text {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        opacity: 0.6;
        margin-top: 22px;
    }
    &__body-btn {
        background-color: #E11D2E;
        width: 404px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: $white;
        margin-top: 41px;

    }
    &__content {
        flex: 1 1 auto;
        margin-top: 150px;
        margin-left: 188px;
    }
    &__content-row {
        display: flex;
        justify-content: space-between;
    }
    &__content-col {
        
    }
    &__content-img {
        width: 108px;
        height: 108px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-right: 20px;
    }
    &__content__title {
        font-size: 30px;
        color: $white;
        margin-bottom: 10px;
    }

    &__content__text {
        font-size: 32px;
        font-weight: 400;
        color: #FFFFFF;
        opacity: 0.8;

        margin-bottom: 50px;
    }
}

.roadmap {
    padding-bottom: 130px;
    &__title {
        font-size: 50px;
        color: $white;
        text-align: center;
        margin-top: 71px;
        margin-bottom: 50px;
    }
    &__row {
        margin: 30px 20px;
        display: flex;
        justify-content: space-between;
        @media(max-width: 992px){
            flex-wrap: wrap;
        }

    }
    &__col {
        flex: 1 1 50%;
        @media(max-width: 992px){
            flex: 1 1 100%;
        }
        margin: 0 20px;
    }
    &__item--fig {
        position: relative;
        .line {
            position: absolute;
            top: -176px;
            left: -23px;
            height: 333px;
            border-left: 2px solid red;
        }
        .circle1 {
            position: absolute;
            top: 50%;
            right: -25px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            border: 2px solid rgba(255, 255, 255, 0.5);
            @media(max-width: 992px) {
                left: -28px;
            }
        }
        .circle2 {
            position: absolute;
            top: 50%;
            left: -29px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            border: 2px solid rgba(255, 255, 255, 0.5);
        }
        .circle3 {
            position: absolute;
            top: 50%;
            right: -25px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            border: 2px solid rgba(255, 255, 255, 0.5);
            @media(max-width: 992px) {
                left: -31px;
            }
        }
        .circle4 {
            position: absolute;
            top: 50%;
            left: -29px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }
        .circle5 {
            position: absolute;
            top: 50%;
            right: -25px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            border: 2px solid rgba(0, 0, 0, 0.5);
            @media(max-width: 992px) {
                left: -31px;
            }
        }
    }

    &__item {
        background: rgba(56, 77, 112, 0.2);

        border-radius: 30px;
        color: $white;
        padding-left: 198px;
        position: relative;
        overflow: hidden;
        @media(max-width: 1400px) {
            padding-left: 140px;
        }
        height: 306px;
        &::before {
            position: absolute;
            width: 138px;
            height: 138px;
            left: 0;
            top: 0;
            margin: 35px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 65px;
            background-color: #384D70;
            border-radius: 30px;
            @media(max-width: 1400px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    &__item--1 {
        &::before {
            content: "1";
        }
    }
    &__item--2 {
        &::before {
            content: "2";
        }
    }
    &__item--3 {
        &::before {
            content: "3";
        }
    }
    &__item--4 {
        background: #384D70;
        &::before {
            content: "4";
            background: rgba(255, 255, 255, 0.1);
        }
    }
    &__item--5 {
        background: #384D70;
        &::before {
            content: "5";
            background: rgba(255, 255, 255, 0.1);
        }
    }
    &__item-title {
        padding-top: 36px;
        margin-bottom: 22px;
        font-size: 30px;
        opacity: .5;
        @media (max-width:1440px) {
            font-size: 20px;
        }
        @media (max-width:1200px) {
            font-size: 15px;
        }
    }
    &__item-text {
        padding-bottom: 35px;
        font-size: 25px;
        opacity: .5;
        line-height: 29px;
        @media (max-width:1440px) {
            font-size: 20px;
        }
        @media (max-width:1200px) {
            font-size: 15px;
        }
    }
}

.team {
    background-color: #162344;
    &__title {
        font-size: 50px;
        color: $white;
        text-align: center;
        padding-top: 71px;
        padding-bottom: 60px;
    }
    &__slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 27px;

        flex-shrink: 0;
        width: 25%;
        @media(max-width: 1440px) {
            width: 50%;
        }
        @media(max-width: 992px) {
            width: 100%;
        }
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }
    &__slide-name {
        font-size: 30px;
        color: $white;
        margin-top: 20px;
        margin-bottom: 13px;
    }
    &__slide-position {
        font-size: 22px;
        color: #FFFFFF;
        opacity: 0.6;
        font-style: italic;
        font-weight: 100;
    }
}

.partners {
    background-color: #162344;
    &__title {
        font-size: 50px;
        color: $white;
        text-align: center;
        padding-top: 81px;
        padding-bottom: 40px;  
        @media (max-width: 768px) {
            font-size: 40px;
        } 
    }
    &__row {
        margin: 0 74px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        opacity: 0.6;
        @media (max-width: 768px) {
            margin: 0 14px;
        }
        img {
            margin: 8px 0;
            height: 80px;
            @media (max-width: 768px) {
                height: 32px;
            }
        }
        
    }
}

.tokenomics {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__col {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width: 1200px) {
            flex: 0 1 100%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__item {
        width: 444px;
        background-color: #000000;
        border-radius: 15px;
        margin: 12px 0;
        position: relative;
        padding: 20px 0;
        @media(max-width: 576px) {
            width: 350px;
        }
    }
    &__line {
        display: block;
        position: absolute;
        top: 25px;
        left: 29px;
        z-index: 1;

    }
    &__line--1 {
        background-color: #4E00FF;
        width: 67px;
        height: 5px;
        border-radius: 10px;
    }
    &__line--21 {
        background-color: #FF850B;
        width: 15px;
        height: 5px;
        border-radius: 10px;
    }
    &__line--22 {
        background-color: #663090;
        width: 25px;
        height: 5px;
        left: 49px;
        border-radius: 10px;
    }
    &__line--3 {
        background-color: #1DBEE1;
        width: 90px;
        height: 5px;
        border-radius: 10px;
    }
    &__line--4 {
        background-color: #133D81;
        width: 30px;
        height: 5px;
        border-radius: 10px;
    }
    &__line--5 {
        background-color: #FF0000;
        width: 45px;
        height: 5px;
        border-radius: 10px;
    }
    &__line--6 {
        background-color: #0096F2;
        width: 45px;
        height: 5px;
        border-radius: 10px;
    }
    &__subtitle {
        font-weight: 100;
        font-size: 27px;
        font-style: italic;
        line-height: 32px;
        color: $white;
        padding-top: 20px;
        padding-left: 30px;
    }
    &__text {
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        opacity: .3;
        padding-top: 6px;
        padding-left: 30px;
    }
}

.frequently {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__item  {
        width: 1036px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        background-color: rgba(56, 77, 112, 1);
        border-radius: 15px;
        margin: 10px 0;
        img {
            width: 40px;
            height: 40px;
            margin: 17px 25px;
        }
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
    &__text {
        font-style: italic;
        font-weight: 100;
        font-size: 20px;
        line-height: 23px;
        color: $white;
        margin-left: 35px;
        @media (max-width: 992px) {
            font-size: 16px;

        }
    }
}

.join {
    background-color: #162758;
    padding-bottom: 107px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 848px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 81px;
        margin-bottom: 80px;
        @media(max-width: 992px) {
            width: 100%;
        }
        img {
            margin: 10px;
            @media(max-width: 576px) {
                width: 60px;
                height: 60px;
            }
        }
    }
    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;

    }
    &__addr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        height: 98px;
        @media(max-width: 992px) {
            font-size: 12px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    background-color: #0D1428;
    color: $white;
    opacity: 0.4;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}